canvas {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0;
    width: 100%;
}

#canvasDiv {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
}

#InputDiv {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
}

#MainInput {
    position: absolute;
    background-color: blue;
    width: 80%;
    height: 90%;
    top: 50%;
    transform: translate(0%, -50%);
    left: 5%;
}

#AddObject {
    margin: 15px;
    height: 4%;
}

#ObjectList {
    margin: 15px;
    border: 1px solid black;
    height: 90%;
}

#AddObjectInput {
    width: 80%;
    height: 80%;
}

#AddButton {
    width: 15%;
    height: 100%;
}

#SpinButton {
    position: absolute;
    top: 44%;
    left: 42%;
    width: 16%;
    height: 12%;
    border-radius: 50%;
}